
/* start header */

div#header-container{
    background-color: #11111100;
}

/* finish header */

/* start main */
/* start main header */

div#main-header{
    background:red url("../images/landing.jpg") no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding-top:120px ;

}
div#main-header>div.main-header-container{
    /* background-color: pink; */
    /* width: 850px; */
    /* height: 600px; */
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

div#main-header>div.main-header-container>div.main-header-title{
    font-size: 30px;
    font-weight:500;
    color: white;
    margin-bottom: 50px;
}
div#main-header>div.main-header-container>div.main-header-caption{
    font-size: 25px;
    font-weight:300;
    color: white;
    text-align: center;
}

@media screen and (max-width: 576px) {
    div#main-header>div.main-header-container{
        width: 85%;
    }    
    div#main-header>div.main-header-container>div.main-header-title{
        font-size: 25px;
        text-align: center;
    }
    div#main-header>div.main-header-container>div.main-header-caption{
        font-size: 20px;
        font-weight:300;
        color: white;
        text-align: center;
    }
    
    

}

div#main-header div.main-header-trust{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    width: fit-content;
    gap: 85px;
    justify-content: center;
    align-items: center;

}
div#main-header div.main-header-trust>div.trust-container{
    /* background-color: yellow; */
    width: 150px;
    height: 150px;
    padding: 0;
    position: relative;
    cursor: pointer;
    transition: all .3s;

}
div#main-header div.main-header-trust>div.trust-container:hover{
    transform: scale(1.1);
    transition: all .3s;
}
div#main-header div.main-header-trust>div.trust-container div.row{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

}
div#main-header div.main-header-trust>div.trust-container img{
    border-radius: 100%;
    background-color: palegreen;
    width: 100%;
    height: 100%;
    padding: 0;
    /* border: 5px solid rgb(255, 68, 0); */
    object-fit: cover;
    box-shadow: 0 0 5px 1px #333;

}
div#main-header div.main-header-trust>div.trust-container p{

    position: absolute;
    margin: 0 auto;
    text-align: center;
    bottom: -30px;
    color: white;


}
@media screen and (max-width: 576px) {
    div#main-header div.main-header-trust{
        gap: 30px;


    }
    div#main-header div.main-header-trust>div.trust-container{
        width: 90px;
        height: 90px;


    }
    

}


/* finish main header */




/* start main container */

div#main-container{
    /* width: 100vw; */
    /* background-color: red; */
    height: 5000px;
    /* background-color: yellow; */
    /* padding: 20px 0; */
    z-index: 1;
    padding: 0;
    position: relative;
}


/* finish main container */



/* start main nav */







div#main-nav-container{
    /* position: relative; */
    z-index: 4;
    width: 100vw;
    background-color: white;
    transition: all .5s;
    top: 0;
    /* border-bottom: 1px solid #d3d3d3; */
    box-shadow: 0 1px 5px 1px #e9e9e9

}
div#main-nav-container.header-container-change{
    /* background-color: rgba(0, 0, 0, 0.285); */
    top: -80px;
}
div#main-nav-container.header-container-bg-change{
    background-color: #111;
}
div#main-nav-container>div.container>div.row>div{
    padding: 0px;
}
div#main-nav-container>div.container>div.row>div.col-1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
div#main-nav-container>div.container>div.row>div.header-nav{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
div#main-nav-container>div.container>div.row>div.header-nav>ul{
    margin: 0 5px;
    flex-wrap: nowrap;
    display: flex;
}
div#main-nav-container>div.container>div.row>div.header-nav>ul>li{
    display: inline-block;
    position: relative;
}
div#main-nav-container>div.container>div.row>div.header-nav>ul>li>a{
    margin: 0 5px;
    padding: 25px 10px;
    display: block;
    font-family: "iransans";
    color: #333;
}
div#main-nav-container>div.container>div.row>div.header-nav>ul>li>div.nav-first-child{
    position: absolute;
    right: 0;
    /* top: 0; */
    z-index: 0;
    width: 100%;
    padding: 10px 0;
    background-color: white;
    border-radius: 0 0 10px 10px;
    border: .5px solid #d3d3d3;
    border-top: 3px solid red;
    box-shadow: 0 5px 5px .5px #7a7a7a39;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}
div#main-nav-container>div.container>div.row>div.header-nav>ul>li:hover>div.nav-first-child{
    visibility: visible;
    opacity: 1;
    transition: all .3s;
    z-index: 2;

}
/* div#main-nav-container>div.container>div.row>div.header-nav>ul>li>div.nav-first-child-show{

    visibility: visible;
    opacity: 1;
    transition: all .3s;
} */
div#main-nav-container>div.container>div.row>div.header-nav>ul>li>div.nav-first-child>ul{

    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}
div#main-nav-container>div.container>div.row>div.header-nav>ul>li>div.nav-first-child>ul>li{
    width: 100%;
}
div#main-nav-container>div.container>div.row>div.header-nav>ul>li>div.nav-first-child>ul>li>a{
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: greenyellow; */
    padding: 10px 0;
    padding-right: 20px;
    color: #333;
    transition: all .3s;

}

div#main-nav-container>div.container>div.row>div.header-nav>ul>li>div.nav-first-child>ul>li>a:hover{
    /* background-color: #d3d3d3; */
    transition: all .3s;
    color: red;
}
div#main-nav-container>div.container>div.row>div.nav-be-admin>a{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 5px;
    /* transform: scale(1); */
    transition: all .2s;
}
div#main-nav-container>div.container>div.row>div.nav-be-admin>a img{
    width: 40px;
    transition: all .2s;

}
div#main-nav-container>div.container>div.row>div.nav-be-admin>a span{
    color: rgb(207, 69, 207);
    font-size: 15px;
    font-weight: 500;
    transition: all .2s;
}
div#main-nav-container>div.container>div.row>div.nav-be-admin>a:hover{
    gap: 10px;
    transition: all .2s;

}
div#main-nav-container>div.container>div.row>div.nav-be-admin>a:hover>span{
    transform: scale(1.1);
    transition: all .2s;

}




/* finish main nav */



/* start banner */



div#main-container div.banner-container{
    /* background-color: red; */
    width: 100vw;
    /* aspect-ratio: 1400/291.66; */
    /* height: 400px; */
    padding: 0;
    margin: 20px auto;
    /* height: 5000px; */

}
div#main-container div.banner-container div.main-slider{
    padding: 0;
    /* border-radius: 10px; */
    overflow: hidden;
    background-color: red;
    width: 100%;
    aspect-ratio: 2880/650;
    /* height: 500px; */

}


/* start new blocks */

div#main-container div.banner-container div.new-blocks-container{
    /* background-color: yellow; */
    margin-top: 10px;
    width: 100%;
    /* height: 200px; */
    padding: 0;
    /* gap: 10px; */
    /* height: 400px; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}
div#main-container div.banner-container div.new-blocks-container div.new-block{
    background-color: red;
    width: 100%;
    aspect-ratio: 330/210;
    /* gap: 10px; */
    background: url("../images/732927.jpg") no-repeat center center;
    background-size: cover;
}
/* .break {
    flex-basis: 100%;
    height: 0;
  } */

/* finish new blocks */



/* finish banner */


/* start popular blocks */


div#main-container div.popular-blocks-container{
    /* background-color: red; */
    margin: 40px auto;
    padding: 0;
    height: 500px;
}
div#main-container div.popular-blocks-container>div.popular-blocks-header{
    /* background-color: yellow; */
    padding: 0;
    flex-wrap: nowrap;
    position: relative;
    align-items: center;
}
div#main-container div.popular-blocks-container>div.popular-blocks-header>div{
    background-color: white;
    padding: 10px;
    padding-right: 0;
    width: fit-content;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 10px;
}
div#main-container div.popular-blocks-container>div.popular-blocks-header>div>h4{
    font-size: 18px;
}
div#main-container div.popular-blocks-container>div.popular-blocks-header>div>button{
    border: none;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all .3s;
    color: #333;

}
div#main-container div.popular-blocks-container>div.popular-blocks-header>div>button:hover{
    background-color: #444;
    color: whitesmoke;
    transition: all .3s;
}
div#main-container div.popular-blocks-container>div.popular-blocks-header>span{
    position: absolute;
    width: 100%;
    height: .5px;
    z-index: 1;
    background-color: #d3d3d3;

}
div#main-container div.popular-blocks-container>div.popular-blocks-carousel{
    /* background-color: yellow; */
    margin-top: 20px;
    /* height: 500px; */
}



div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans{
    text-align: center;
    /* width: 100vw; */
    margin: 0 auto;
    /* padding: 50px 0; */
    /* height: 30030px; */
    /* background-color: blue; */
    position: relative;
    /* height: 50vh; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
    /* margin: 20px; */
    /* position: absolute; */
    /* visibility: hidden; */
    /* opacity : 0;  */
    z-index: 3;
    padding: 0;
}
@media screen and (max-width: 976px) {
    div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans{
        grid-template-columns: auto auto auto;
    }
          

}
@media screen and (max-width: 776px) {
    div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans{
        grid-template-columns: auto auto;
    }
          

}
@media screen and (max-width: 576px) {
    div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans{
        grid-template-columns: auto;
    }
          

}




div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content{
    background-color: whitesmoke;
    margin: 0 auto;
    /* width: 200px; */
    height: 100%;
    overflow: hidden;
    border: 1px solid #d3d3d3;
    /* box-shadow: 0 0 .5px 1px #d3d3d3; */
}
div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content>a{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 10px;

}

div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content>a>div.card-top{
    position: relative;

}
div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content>a>div.card-top img{
    width: 100%;
}
div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content>a>div.card-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}
div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content>a>div.card-bottom>div.card-bottom-title>h4{
    width: 100%;
    padding: 10px 20px;
    /* background-color: red; */
    font-size: 15px;
    font-weight: 500;
    color: #444;
    line-height: 30px;
    text-align: right;
}
div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content>a>div.card-bottom>div.card-bottom-title>hr{
    width: 60%;
    height: 2px;
    border-radius: 100px;
    margin: 0 auto;
    opacity: 1;
    /* display: block; */
    background-color: red;

}
div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content>a>div.card-bottom>div.card-bottom-title>p{
    color: #555;
    font-weight: 300;
    font-size: 13px;
    padding: 20px 20px;
    text-align: justify;
    line-height: 28px;

}
div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content>a>div.card-bottom>div.card-bottom-info{
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 100%;
    justify-content: space-between;
    padding: 10px 20px;

}
div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content>a>div.card-bottom>div.card-bottom-info>span{
    width: 100%;
}
div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content>a>div.card-bottom>div.card-bottom-info>span.card-producer{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items:center;
    /* background-color: greenyellow; */
    gap: 5px;

}
div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content>a>div.card-bottom>div.card-bottom-info>span.card-producer>h5{
    color: #444;
    font-size: 13px;
}

div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content>a>div.card-bottom>div.card-bottom-info>span.card-producer>img{
    width: 20%;
    border-radius: 100%;
}
div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content>a>div.card-bottom>div.card-bottom-info>span.card-date{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    justify-content: end;
    align-items: center;
    gap: 5px;
}
div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content>a>div.card-bottom>div.card-bottom-info>span.card-date>img{
    width: 12%;

}
div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content>a>div.card-bottom>div.card-bottom-info>span.card-date>span{

    font-size: 13px;
}

@media screen and (max-width: 576px) {
    div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans {
        gap: 0;
    }
    div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content{
        border: 0.5px solid #d3d3d3;
    }
    div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content>a{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        padding-bottom: 0;
    
    }   
    div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content>a {
        padding: 10px;
        gap: 10px 
        /* padding-bottom: 0; */
    }      
    div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content>a>div.card-top {
        position: relative;
        width: fit-content;
        padding: 5px;
    }
    div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content>a>div.card-bottom>div.card-bottom-info {
        padding: 5px;
    }
    div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content>a>div.card-bottom>div.card-bottom-title>h4 {
        padding: 5px;
        font-size: 13px;
        font-weight: 500;
        line-height: 25px;
    }
    div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content>a>div.card-bottom{
        justify-content: center;
    }
    div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.dep-car-content>a>div.card-top img {
        width: 80px;
        aspect-ratio: 1.1;
        object-fit: cover;
        border-radius: 5px;
    }
}

/* div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.owl-nav>button.owl-next{
    left: -40px;
}
div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.owl-nav>button.owl-prev{
    right: -40px;
}

div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.owl-nav>button.owl-next,
div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.owl-nav>button.owl-prev{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    height: 50px;
    border-radius: 100%;
    font-size: 45px;
    color: black;
}
div.owl-stage{
    margin: 0 auto;
}
.owl-theme .owl-controls .owl-nav .disabled{
	opacity: 0.5;
	cursor: default;
}
.owl-nav .owl-prev.disabled,
.owl-nav .owl-next.disabled {
   opacity: .2;
}
.owl-item {height: 0 !important;}    
.owl-item.active {height: auto !important;}

@media screen and (max-width: 576px) {
    div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.owl-nav>button.owl-next{
        left: 0px;
    }
    div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans>div.owl-nav>button.owl-prev{
        right: 0px;
    }
        

}
div#main-container div.popular-blocks-container>div.popular-blocks-carousel div.departmans div.owl-item{
    height: fit-content;
} */





/* finish popular blocks */


/* finish main */