*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "iransans";
}
a{
  text-decoration: none; 
  color: inherit; 
}
p{
    padding: 0;
    margin: 0;
}
ul{
    margin: 0;
}
li{
    text-decoration: none;
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(238, 238, 238);
    overflow-x: hidden;
}
a:hover{
    color: inherit;
}



/* start header */




div#header-container{
    position: fixed;
    z-index: 4;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.285);
    transition: all .5s;

}
div#header-container.header-container-change{
    background-color: #111;
}
div#header-container>div.container>div.row>div{
    padding: 0px;
}
div#header-container>div.container>div.row>div.col-1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
div#header-container>div.container>div.row>div.col-11{
    display: flex;
    align-items: center;
}
div#header-container>div.container>div.row>div.col-11>ul{
    margin: 0 5px;
}
div#header-container>div.container>div.row>div.col-11>ul>li{
    display: inline-block;
}
div#header-container>div.container>div.row>div.col-11>ul>li>a{
    margin: 0 5px;
    padding: 25px 10px;
    display: block;
    font-family: "iransans";
    color: #d3d3d3;
}
div#header-container>div.mob-container{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px;
}
div#header-container>div.mob-container>svg{
    cursor: pointer;
    width: 30px;
    color: whitesmoke;
}
div#mob-menu{
    position: fixed;
    width: 80vw;
    height: 100vh;
    right: -90vw;
    top: 0;
    background-color: #fff;
    z-index: 6;
    padding: 25px 0;
    transition: all .5s;
    transition-timing-function: ease-out;

}
div#mob-menu.mob-menu-open{
    right: 0;
    top: 0;
}
div#mob-menu>div.mob-logo{
    display: flex;
    justify-content: right;
    align-items: center;

}
div#mob-menu>div.mob-logo>a{
    display: block;
    width: 20%;
    padding: 1%;
}
div#mob-menu>hr{
    color: #333;
    width: 100%;
    margin: 20px auto;
}
div#mob-menu ul{
    padding: 0;
}
div#mob-menu ul li{
    margin: 10px 0;
}
div#mob-menu ul a{
    font-size: 25px;
    color: #222;
    display: block;
    width: 100%;
    padding: 10px 20px;
}
div#mob-menu>div.menu-close-button{
    position: absolute;
    left: -30px;
    top: 50px;
    color: white;
    cursor: pointer;

}


/* finish header */


/* start bg-dark */

div#bg-dark{
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 0;
    position: fixed;
    top: 0;
    opacity : 0; 
    transition:opacity .3s;
}
div#bg-dark.bg-dark-show{
    opacity: 1;
    z-index: 1;
}
div#bg-dark-menu{
    width: 100vw;
    height: 100vh;
    background-color: #000000d4;
    z-index: 0;
    position: fixed;
    top: 0;
    opacity : 0; 
    transition:opacity .3s;
}
div#bg-dark-menu.bg-dark-menu-show{
    opacity: 1 ;
    z-index: 5 ;
}



/* finish bg-dark */


/* start main */



div#main-container{
    position: relative;
    background-color: yellow;
    overflow: hidden;
    height: 130vh;
}
div#main-container div#parts-carousel{
    background-color: red;
}
div#main-container div.background-img{
    width: 100vw;
    height: 100%;
    overflow: hidden;
}


/* start main-----departmans */



div#main-container div#parts-carousel div.departmans{
    text-align: center;
    width: 100vw;
    margin: 0 auto;
    position: absolute;
    visibility: hidden;
    opacity : 0; 
    z-index: 3;
}
div#main-container div#parts-carousel div.dep-amozesh{
    top: 50vh;
    transition:top .5s;
}
div#main-container div#parts-carousel div.dep-amozesh-show{
    visibility: visible;
    opacity: 1;
    top: 40vh;
    transition:all 1s .2s;
}

div#main-container div#parts-carousel div.dep-parvaresh{
    top: 65vh;
    transition:top .5s;
}
div#main-container div#parts-carousel div.dep-parvaresh-show{
    visibility: visible;
    opacity: 1;
    top: 55vh;
    transition:all 1s .2s;

}


div#main-container div#parts-carousel div.departmans>div.dep-car{
    width: 70vw;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}
div#main-container div#parts-carousel div.departmans>div.dep-car div.dep-car-content{
    background-color: #111;
    margin: 0 auto;

}
div#main-container div#parts-carousel div.departmans>div.dep-car div.dep-car-content div.dep-car-con-bg{
    height: 100%;
}
div#main-container div#parts-carousel div.depatrmans>div.dep-car div.dep-car-content div.dep-car-con-bg>a{
    height: 100%;
    background-color: rgb(128, 0, 255); 
    display: block; 
}
div#main-container div#parts-carousel div.departmans>div.dep-car div.dep-car-content div.dep-car-con-bg img{
    object-fit: fill;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
div#main-container div#parts-carousel div.departmans>div.dep-car div.dep-car-content div.dep-car-con-title>a{
    display: block;
    padding: 20px;
}
div#main-container div#parts-carousel div.departmans>div.dep-car div.dep-car-content div.dep-car-con-title>a>h5{
    font-size: 17px;
    color: #d3d3d3;
}
div#main-container div#parts-carousel div.departmans>div.dep-car div.owl-nav>button.owl-next{
    left: -40px;
}
div#main-container div#parts-carousel div.departmans>div.dep-car div.owl-nav>button.owl-prev{
    right: -40px;
}

div#main-container div#parts-carousel div.departmans>div.dep-car div.owl-nav>button.owl-next,
div#main-container div#parts-carousel div.departmans>div.dep-car div.owl-nav>button.owl-prev{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    height: 50px;
    border-radius: 100%;
    font-size: 45px;
    color: black;
    
}


/* finish main-----departmans */


/* finish main */



/* start page bar */

div#page-bar{
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    z-index: 4;
    transition: all 1s;
}
div#page-bar.page-bar-goesup{
    position: absolute;
    bottom: 20px;

}
div#page-bar div.bar-container{
    background-color: #111;
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.421);
    border-radius: 30px;
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
div#page-bar div.bar-container>div.row{
    width: 60%;
    flex-wrap: nowrap;
    justify-content: center;
}
div#page-bar div.bar-container>div.row>div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: grey;
    transition: color .3s;

}
div#page-bar div.bar-container>div.row>div svg{
    cursor: pointer;
}
div#page-bar div.bar-container>div.row>div.amoozesh-icon-light{
    color: white;
}
div#page-bar div.bar-container>div.row>div.parvaresh-icon-light{
    color: white;
}

div#page-bar div.bar-container>div.search-container{
    position: absolute;
    display: flex;

    align-items: center;
    justify-content:space-between;
    left: 5%;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    color: grey;
    transition: all .3s;
}
div#page-bar div.bar-container>div.search-container:hover{
    color: whitesmoke;
}
div#page-bar div.bar-container>div.search-container>svg.search-icon{
    display: block;
    cursor: pointer;
}
div#page-bar div.bar-container>div.search-container>svg.close-icon{
    display: none;
}
div#page-bar div.bar-container>div.search-container-show{
    background-color: whitesmoke;
    border: 2px solid black;
    color: #111;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    padding-right: 0;
    overflow: hidden;

}
div#page-bar div.bar-container>div.search-container-show>svg.search-icon{
    display: none;
}
div#page-bar div.bar-container>div.search-container-show>svg.close-icon{
    display: block;
    cursor: pointer;
}

div#page-bar div.bar-container>div.search-container-show:hover{
    color: #111;
}
div#page-bar div.bar-container>div.search-container>div.search-bar{
    display: none;
    opacity: 0;
    visibility: hidden;
    background-color: white;
    transition: all 1s;

}
div#page-bar div.bar-container>div.search-container>div.search-bar>input{
    outline: none;
    border: none;
    padding-right: 30px;
    background-color: whitesmoke;
}
div#page-bar div.bar-container>div.search-container>div.search-bar>button{
    outline: none;
    border: none;
    padding: 15px 20px;
    display: none;
    border-radius: 0 30px 30px 0;
    background-color: #111;
    color: white;
    transition: all .3s;
}
div#page-bar div.bar-container>div.search-container>div.search-bar>button:hover{
    background-color: #222;  
}
div#page-bar div.bar-container>div.search-container-show>div.search-bar{
    display: flex;
    opacity: 1;
    visibility: visible;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}



/* finish page bar */



/* start search results */



div#search-results{
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    padding-top: 25vh;
    z-index: 3;
    top: 40vh;
    transition:all .7s !important;


}
div.search-results-show{
    visibility: visible !important;
    opacity: 1 !important;
    top: 0 !important;
}
div#search-results>h4{
    padding: 20px 40px;
    font-size: 20px;
    color: #333;

}
div#search-results>div.results{
    padding: 20px 40px;
    height: 50vh;
    overflow: hidden;
}
div#search-results>div.results div.owl-carousel{
    width: 60vw;
    margin: 0 auto;
}
div#search-results>div.results div.result-card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
div#search-results>div.results div.result-card>a{
    display: block;
    width: 100%;
    text-align: center;

}
div#search-results>div.results div.result-card>a>img{
    width: 100%;
    margin: 0 auto;
    aspect-ratio: 1.1;
    margin-bottom: 10px;
}
div#search-results>div.results div.result-card>a>h4{
    font-size: 17px;
    line-height: 25px;
    font-weight: 300;
    padding: 10px;
    color: #333;
}

div#search-results div.owl-carousel div.owl-nav>button.owl-next{
    left: -70px;
}
div#search-results div.owl-carousel div.owl-nav>button.owl-prev{
    right: -70px;
}

div#search-results div.owl-carousel div.owl-nav>button.owl-next,
div#search-results div.owl-carousel div.owl-nav>button.owl-prev{
    width: 50px;
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    top: 30%;
    height: 50px;
    border-radius: 100%;
    font-size: 45px;
    color: black;
    
}
div.owl-stage{
    margin: 0 auto;
}
.owl-theme .owl-controls .owl-nav .disabled{
	opacity: 0.5;
	cursor: default;
}
.owl-nav .owl-prev.disabled,
.owl-nav .owl-next.disabled {
   opacity: .2;
}


/* finish search results */




/* start footer */


footer div#footer-container{
    position: relative;
    background-color: #222;
    z-index: 2;
    padding-bottom: 100px;
    transition: all .5s;
    margin-top: 0;
}
footer div#footer-container.footer-container-goesup{
    margin-top: -400px;
}
footer div#footer-container div.socials-container{
    background-color: white;
    border: 2px solid black;
    position: relative;
    bottom: 5vh;
    text-align: center;
    width: 50vw;
    padding: 10px 5vw;
    border-radius: 50px;

}
footer div#footer-container div.socials-container div.socials-title{
    padding: 10px 0;
    display: flex;
    justify-content: right;
    align-items: center;
    align-content: center;
}
footer div#footer-container div.socials-container div.socials-icon{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

footer div#footer-container div.socials-container svg{
    width: 25px;
    height: 25px;
}
footer div#footer-container div.parts-container{
    width: 80vw;
}
footer div#footer-container div.parts-container>div.row>div{
    padding: 20px;
}
footer div#footer-container div.parts-container>div.row>div>p{
    text-align: center;
    margin-bottom: 0px;
    color: whitesmoke;
    font-size: 17px;
}
footer div#footer-container div.parts-container>div.row>div.permisions>div{
    display: grid !important;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    
}
footer div#footer-container div.parts-container>div.row>div.permisions a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10%;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    width: 100%;
}
footer div#footer-container div.parts-container>div.row>div.permisions a img{
    width: 100%;
}
footer div#footer-container div.parts-container>div.row>div:not(div.permisions) a{
    margin: 10px 0;
    display: block;
    color: whitesmoke;
    font-weight: 200;
}


/* finish footer */



@media screen and (max-width: 1200px) {
    footer div#footer-container div.socials-container div.socials-title{
        justify-content: center;
    }
    div#page-bar div.bar-container{
        width: 40vw;
    }

}
@media screen and (max-width: 576px) {
    footer div#footer-container div.socials-container{
        width: 90vw;
    }
    div#page-bar div.bar-container{
        width: 90vw;
    }


}

